@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

button:focus,
a:focus {
	outline: 1px dashed #2a2b2a;
}

input:focus,
input:active {
	outline: 2px solid #0d97ae;
}

button:active {
	outline: none;
}
